@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');

:root {
    --blanco: #ffffff;
    --oscuro: #111111;
    --oscuro-transparente: rgba(0, 0, 0, 0.719);
    --celeste: #49ACDC;
    --magenta: #E42A5B;
    --amarillo: #D3B65C;
    --fontH: 'Josefin Sans', sans-serif;
    --fontP: 'Montserrat', sans-serif;
}
html {
    box-sizing: border-box;
    min-height: 100%;
    scroll-snap-type: y mandatory;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
p {
    line-height: 1.3;
    font-weight: lighter;
}
body {
    font-family: var(--fontP);
    min-height: 100%;
    color: var(--blanco);
    background-color: var(--oscuro);
    font-size: 1.6rem;
}
input, textarea{
    border-radius: 1rem;
    width: 100%;
    border: none;
    margin-top: 1rem;
    background-color: var(--amarillo);
}


 h2, h3 {
    
    font-family: var(--fontH);
    line-height: 2;
    color: var(--blanco);
    text-shadow: 3px 0  var(--magenta);
    transform: rotate(270deg);
}
h1 {
    font-size: 4.8rem;
    font-family: var(--fontH);
}
h2 {
    font-size: 5rem;
}
h3 {
    font-size: 1.6rem;
}
a{
    text-decoration: none;
    color: var(--blanco);
}
ul{
    list-style: none;
}

img{
    width: 100%;
}
section{
    height: 100vh;
}
.contenedor {
    width: 85%;
    margin: 0  auto;
}

/*NAVEGACION*/


.nav-bar{
    display: flex;
    position: fixed;
    background-color: var(--oscuro-transparente);
    width: 100%;
    height: 4rem;
    z-index: 1;
}
.nav-bar__logo{
    font-family: var(--fontH);
    position: relative;
}
.nav-bar__logo::before{
    content: "";
    position: absolute;
    top: 1.9rem;
    background-color: var(--magenta);
    height: .3rem;
    width: 100%;
    border-radius: .5rem;
}
.nav-bar__navegacion--link{
    font-size: medium;
    position: relative;

}
.nav-bar__navegacion--link::before{
    content: "";
    position: absolute;
    top: 1.7rem;
    background-color: var(--celeste);
    height: .5rem;
    width: .5rem;
    border-radius: 1rem;
    transition: .3s ease-in-out;
}
.nav-bar__navegacion--link:hover::before{
    width: 100%;
    background-color: var(--amarillo);
}
.nav-bar__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar__navegacion ul{
    display: flex;
}
.nav-bar__navegacion ul li{
    margin-right: 1rem;
}


/*Hero*/

.hero{
    position: relative;
    height: 100vh;

    outline: hidden;
}

.hero__background--img{
    position: absolute;
    height: 100vh;
    
}
.hero__placa{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.719);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 10rem 5rem 10rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1 span{
    color: var(--magenta);
}

.btn-contactame{
    background-color: rgba(0, 0, 0, 0.089);
    border: .1rem solid var(--amarillo);
    color: var(--amarillo);
    border-radius: 2rem;
    padding: .5rem 3rem;
    margin-top: 10rem;
    font-weight: bold;
}
.btn-contactame:hover{
    transition: .5s background-color ease;
    background-color: var(--amarillo);
    color: var(--oscuro);
    font-weight: bold;
}


/*ABOUT*/

.about{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0 0 0 ;
}

.about__card__info{
    margin-left: 5rem;
}

.about__retrato{
    width: 18rem;
    border-radius: 50%;
    border: .3rem solid var(--amarillo);
}

.logo{
    width: 18rem;
}
.border{
    border: .3rem solid var(--magenta);
    border-radius: 1rem;
    padding: 1rem;
}

/*Skills*/

.skills{
    height: 100vh;
    background-image: url("../assets/img/background-skills.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: sepia();
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos__contenedor{
    background-color: rgba(0, 0, 0, 0.575);
    border-radius: 1rem;
    padding: 1rem;
}
.logos{
    display: flex;
    justify-content: space-around;
}

.logo-svg{
    
    width: 10rem;
    border: .5rem solid black;
    border-radius: 1rem;
    padding: 1rem;
    transition: .3s all ease-in-out;
}
.logo-svg:hover{
    padding: .5rem;
    transform: scale(1rem, 1rem);
    border: .1rem solid black;
    background-color: var(--amarillo);
}


.progress-bar-css{
    position: relative;
    
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.719);
}
.progress-bar-css::after{
    position: absolute;
    content: "95%";
    background-color: var(--amarillo);
    width: 95%;
    height: 100%;
    border-radius: 1rem;
    top: 0;
}

/*Portfolio*/


.portfolio{
    height: 100vh;
    display: flex;
    align-items: center;
}

.portfolio__grid{
    display: grid;
    height: 85vh;
    width: 100%;
    grid-template-areas: 'titulo boton1 boton1 boton2 boton3'
                         'titulo boton4 boton5 boton5 boton3'
                         'titulo boton4 boton6 boton7 boton7';
    gap: 1rem;
    padding: 1rem;
}
.caja{
    color: #ffffff;
    padding: 1rem;
    border: .3rem solid var(--amarillo);
    border-radius: 1rem;
    filter: sepia(1) blur(3px);
    transition: .5s all ease-in-out;
    padding: .5rem;
}
.caja:hover{
    filter: sepia(0) blur(0);
    
    transform: scale(200px, 200px);
}

.titulo{
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
}

.caja1{
    grid-area: boton1;
    background-image: url(../assets/portfolio-andres-biasutto-viejo.jpg);
    background-size: cover;
    background-position: center;
    
}
.caja2{
    grid-area: boton2;
    background-image: url(../assets/portfolio-andres-biasutto.jpg);
    background-size: cover;
    background-position: center;
}
.caja3{
    grid-area: boton3;
    background-image: url(../assets/portfolio-andres-biasutto.jpg);
    background-size: cover;
    background-position: center;
}
.caja4{
    grid-area: boton4;
    background-image: url(../assets/portfolio-andres-biasutto.jpg);
    background-size: cover;
    background-position: center;
}
.caja5{
    grid-area: boton5;
    background-image: url(../assets/portfolio-andres-biasutto.jpg);
    background-size: cover;
    background-position: center;
}
.caja6{
    grid-area: boton6;
    background-image: url(../assets/portfolio-andres-biasutto.jpg);
    background-size: cover;
    background-position: center;
}
.caja7{
    grid-area: boton7;
    background-image: url(../assets/portfolio-andres-biasutto.jpg);
    background-size: cover;
    background-position: center;
}






/*Contact*/

.contact{
    height: 100vh;
    
    display: flex;
    justify-content: right;
    align-items: center;
}

.contact__form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85%;
    width: 100%;
}


.contact__form--formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact__info{
    width: 100%;
}

.btn-send{
    width: 50%;
}


